@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8a4d76;
$pink: #f56f67;
$green: #11998e;
$gradiant: #38ef7d;
$orange: #31be70;
$orange-text: #fff;
$purple: #61638b;
$dark: #463944;
$dark-text: #f4f6f4;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $dark;
$grey-light: $beige-light;
$primary: $green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #eaeaea;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-background-color: transparent;
$footer-color: $orange-text;
$footer-padding: 3rem 0 6rem;

@import '../node_modules/bulma/bulma.sass';

.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

html,
body {
  background: $green;
  background: -webkit-linear-gradient(
    to top,
    $green,
    $gradiant
  ); // sass-lint:disable-line VendorPrefix
  background: linear-gradient(
    to top,
    $green,
    $gradiant
  ); // sass-lint:disable-line DuplicateProperty
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

nav {
  align-items: center;
  background-color: $dark;
  display: flex;
  height: 40px;
  width: 100%;

  a {
    align-items: center;
    color: $dark-text;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: 100%;
    padding: 0 8px;
    text-transform: uppercase;
    transition: 0.3s linear;

    &.logo {
      font-size: 18px;
      margin-right: auto;
    }

    &:hover {
      background-color: lighten($dark, 5%);
      color: $dark-text;
    }
  }
}

.main {
  height: 100%;
  width: 100%;

  > .phx-connected {
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.home {
  justify-self: center;
  margin-bottom: auto;
  padding: 16vh 0;
  width: 100%;

  .title,
  .subtitle {
    text-align: center;
  }
}

.section {
  &.content {
    background-color: $body-background-color;
  }
}

.footer {
  font-size: 0.9rem;
  margin-top: auto;

  a {
    color: $footer-color;
    display: inline-block;
    margin-right: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
