<footer class="footer">
  <div class="content">
    <p>Copyright &copy; 2020 Spark</p>
    <p>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/about">Contact</a>
      <a href="/about">Terms</a>
      <a href="/about">Privacy</a>
    </p>
  </div>
</footer>
